<%= stylesheet_link_tag 'note' %>
<h2 class="text-center">Editing note</h2>
<%= link_to raw('<i class="fa fa-eye"></i>'), @note, class: 'new-notice btn btn-dark', title: 'View' %>
<%= link_to raw('<i class="fa fa-hand-o-left"></i>'), notes_path, class: 'new-notice btn btn-dark', title: 'Back' %>
<%= render :partial => "form" %>
