<%= stylesheet_link_tag 'note'%>
<h2 class="text-center">Notes</h2>
<button class="new-notice btn btn-dark">
    <%= link_to '', new_note_path, :class => 'fa fa-plus index-link' %>
</button>
<%= render 'notes_index', :notes => @notes %>
