<% content_for :title, "Noteit | My Notes" %>
<%= stylesheet_link_tag 'note' %>
<h2 class="text-center">Notes</h2>
<%= link_to raw('<i class="fa fa-plus"></i>'), new_note_path, class: 'new-notice btn btn-dark', title: 'New Note' %>
<%= render 'notes_index', :notes => @notes %>
