<% content_for :title, "Noteit | New Note" %>
<%= stylesheet_link_tag 'note' %>
<h2 class="text-center">New note</h2>
<%= link_to raw('<i class="fa fa-hand-o-left"></i>'), notes_path, class: 'new-notice btn btn-dark', title: 'Back' %>
<%= render :partial => "form" %>
