<%= stylesheet_link_tag 'note' %>
<div class="card" id="show-card">
    <h3 id="show-h3" >
        <%= @note.title %>
    </h3>
    <div id="show-div-content">
        <p>
            <%= sanitize @note.content %>
        </p>
    </div>
    <div class="text-center" id="show-div-button-row" style="padding-bottom: 20px;">
        <button class="btn btn-dark index-card-button" > <%= link_to '', public_notes_notes_path, :class =>'fa fa-hand-o-left index-link', title: 'Back to Public Notes' %></button>
    </div>
</div>
