   <%= stylesheet_link_tag 'notice' %>
    <h2 class="text-center">Editing notice</h2>
    <button class="new-notice btn btn-dark">
        <%= link_to '', @notice, :class => 'fa fa-eye index-link' %>
    </button>
    <button class="new-notice btn btn-dark">
        <%= link_to '', notices_path, :class => 'fa fa-hand-o-left index-link' %>
    </button>
    <%= render :partial => "form" %>
