<%= stylesheet_link_tag 'notice' %>
<div class="card" id="show-card">
    <h3 id="show-h3" >
        <%=h @notice.title %>
    </h3>
<div id="show-div-content">
    <p>
        <%= sanitize @notice.content %>
    </p>
    </div class="row">
    <div class="text-center" id="show-div-button-row">
        <button class="btn btn-dark index-card-button" > <%= link_to '', public_notes_path, :class =>'fa  fa-hand-o-left index-link' %></button>
    </div>
</div>
